.greeting {
  width: 100%;
  min-height: 78.1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #253e30;
  p {
    font-size: 65px;
    font-weight: 600;
    text-align: center;
    color: #fff;
  }
}
