.app_header {
  max-height: 15vh;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #253e30;
  ul {
    max-width: 30vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: flex-end;
    .menu_item {
      height: 100%;
      display: flex;
      border-bottom: 2px solid #253e30;
      list-style: none;
      a {
        color: #fff;
        text-decoration: none;
      }
      &:hover {
        transition: 0.5s ease all;
        border-bottom: 2px solid #1f6f8c;
      }
    }
  }
}
