.info_container {
  font-family: monospace;
  display: grid;
  grid-auto-columns: minmax(10vw, 15vw);
  grid-auto-rows: 30px;
  justify-content: end;
  align-self: center;
}

.score_wrap,
.high_score_wrap,
.time_wrap,
.boost_container,
.apples_container {
  display: flex;
  flex-direction: row;
  min-height: 20px;
  margin-bottom: 10px;
  justify-content: flex-end;
  align-items: center;
}

.speed_container {
  display: grid;
  grid-template-columns: 60px 80px;
  grid-auto-rows: minmax(0, 22px);
  justify-content: end;
}

.info_value {
  color: #fff;
  font-size: 1.6em;
  font-weight: bold;
  font-family: monospace;
}

.high_score {
  width: 110px;
  height: 25px;
  background-image: url("./img/max.png");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

.score {
  width: 80px;
  height: 25px;
  background-image: url("./img/score8b.png");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

.time {
  width: 60px;
  height: 25px;
  background-image: url("./img/time8b.png");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

.boost {
  width: 85px;
  height: 25px;
  background-image: url("./img/speedx2.png");
  background-position-y: 3px;
  background-size: contain;
  background-repeat: no-repeat;
}

.available {
  width: 20px;
  height: 25px;
  background-image: url("./img/ok.png");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 1px;
}

.not_available {
  width: 20px;
  height: 25px;
  background-image: url("./img/not.png");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: -2px;
}

.apple {
  width: 30px;
  height: 30px;
  background-image: url("./img/apple.png");
  background-position: bottom;
  background-size: cover;
}

.space {
  width: 200px;
  height: 20px;
  margin-right: -5px;
  background-image: url("./img/space.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.speed {
  height: 25px;
  background-image: url("./img/speed.png");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 1.7px;
  transition: background-color 0.4s ease;
  border-radius: 7px;
}

select.speed_name:hover {
  background-color: #1f6f8c;
}

select.speed_name[disabled]:hover {
  background-color: #253e30;
}

select.speed_name {
  font-family: monospace;
  transition: 0.3s background-color ease;
  background-color: #253e30;
  text-align: center;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
  font-size: 17px;
}

select.speed_name option {
  outline: none;
  border: none;
  border-radius: 7px;
  background-color: #253e30;
  color: #ffffff;
}
