#snake {
  position: relative;
  margin: 10px;
  font-family: monospace;
}
#grid {
  transition: all ease 2s;
  display: grid;
  grid-template-columns: repeat(19, 1fr);
  grid-auto-rows: minmax(4vh, auto);
}

#start,
#startAgain {
  height: 50px;
  max-width: 250px;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 7px;
  border: none;
  font-size: 30px;
  text-align: center;
  outline: none;
  background-color: #253e30;
  color: #ffffff;
  transition: all ease 0.5s;
  &:hover {
    cursor: pointer;
    background-color: #1f6f8c;
  }
}

.modal {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.cell {
  background-image: url("./img/grass.png");
  background-position: bottom;
  background-size: cover;
  margin: -2px 0px;
}

.head,
.body,
.apple {
  background-color: #529d26;
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.head {
  transform: rotate(270deg);
  background-image: url("./img/snake.png");
}
.move {  
  &_rigth {    
    transform: rotate(270deg);
  }
  &_left {
    transform: rotate(90deg);
  }
  &_down {
    transform: rotate(0deg);
  }
  &_up {
    transform: rotate(180deg);
  }
  &_body_right {
    transform: rotate(270deg);
  }
  &_body_left {
    transform: rotate(90deg);
  }
  &_body_down {
    transform: rotate(180deg);
  }
  &_body_up {
    transform: rotate(180deg);
  }
}

.body {
  background-image: url("./img/tail.png");
  
}

.apple {
  background-image: url("./img/apple.png");
}
